# Ignore frontend image folder, except page-specific assets maintained in Git.
/assets/f_assets/image/*
!/assets/f_assets/image/Hasht Web/
/assets/f_assets/image/Hasht Web/*
!/assets/f_assets/image/Hasht Web/Banners/
!/assets/f_assets/image/Hasht Web/Banners/*.webp
/node_modules
/public/build
# Ignore uploaded files
/uploads/


# Keep uploads folder if needed
# /uploads/*
# !/uploads/.gitkeep
.env
/env
